@media (max-width:1125px) {
    .mid-content{
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
        margin: auto;
    }
    .main-menu ul li ul li a{
        padding:0px 20px;
    }
    .t-item {
        width: 100%;
        margin-bottom: 25px;
    }
    .testimonial-items {
        padding: 0 253px;
        box-sizing: border-box;
    }
    .t-user-img {
        margin: auto;
    }
    
    .video-content p {
        text-align: justify;
    }
    .video-content h3 {
        text-align: justify;
    }
}

@media (max-width:1047px) {
    .main-menu ul li a {
        padding: 0 7px;
    }
    .logo span {
        font-size: 21px;
    }
    .main-menu ul {
        text-align: center;
    }
    .header-btn {
        padding: 10px 8px;
    }
    .logo span {
        font-size: 19px;
    }
    .logo span {
        margin-top: 10px;

    }
    .testimonial-items {
        padding: 0 153px;
    }
    .video {
        width: 43%;
    }
    .video-content h3 {
        line-height: 47px;
        font-size: 31px;
    }
    .video-content p {
        font-size: 17px;
        line-height: 26px;
        margin-top: 10px;
    }
    .service-box {
        width: 100%;
    }
    .default-btn {
        font-size: 14px;
        margin: 0 0px;
    }
}

@media (max-width:960px) {
    .pricing-table-items {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width:870px) {
    .logo img {
        float: inherit;
    }
    .logo {
        width: 100%;
        text-align: left;
        float: inherit;
        margin-left: 30px;
    }
    .header-menu {
        width: 80%;
    }
    .header-btn {
        padding: 6px 7px;
        font-size: 16px;
    }
    .logo span {
        position: absolute;
        top: 0;
        margin-top: 20px;
        font-size: 23px;
    }
    .banner-section {
        padding: 120px 0;
    }
    .video {
        width: 100%;
        padding: 0 20px;
        margin-left: 0;
        box-sizing: border-box;
    }
    .video-content{
        float: none;
    }
    .video-content {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .members {
        width: 48%;
    }
    .default-input {
        width: 270px;
        padding: 11px 29px;
        margin-bottom: 10px;
    }
    .submit-button {
        font-size: 19px;
        padding: 10px 21px;
    }
}

@media (max-width:625px) {
    .header-button {
        width: 20%;
    }
    .testimonial-items {
        padding: 0 100px;
    }
    .banner-section {
        padding: 92px 0;
    }
}

@media (max-width:526px) {
    .header-menu {
        width: 100%;
    }
    .header-button {
        width: 100%;
    }
    .testimonial-items {
        padding: 0 20px;
    }
    .banner-content h3 {
        font-size: 16px;
        margin-top: 50px;
    }
    .banner-content h2 {
        font-size: 33px;
        margin: 15px 0;
    }
    .default-btn {
        padding: 15px 13px;
        font-size: 15px;
        margin: 0px 4px;
    }
    .pricing-title h4 {
        font-size: 37px;
    }
    .pricing-title p {
        font-size: 17px;
    }
}

@media (max-width:460px) {
    .price-btn .default-btn {
        padding: 12px 25px;
    }
    .members {
        width: 100%;
        padding-bottom: 30px;
    }
    .default-input {
        width: 270px;
        padding: 11px 29px;
        margin-bottom: 10px;
    }
    .submit-button {
        font-size: 19px;
        padding: 10px 21px;
    }
    .b-content {
        width: 100%;
        font-size:18px;
    }
    .b-heading {
        width: 100%;
        font-size:30px;
    }
    .blog-post {
        width: 100%;
    }
    .blog-section {
        padding:0;
    }
    .testimonial-section {
        padding: 54px 0;
    }
    .newsletter-title h5 {
        font-size: 26px;
    }
    .testimonial-items {
        margin-top: 40px;
    }
    .team-section {
        padding: 0;
    }
    .contact-section {
        padding-top: 30px;
    }
    .contact-form p {
        font-size: 13px;
    }
    .contact-form h4 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .default-input {
        padding: 20px 25px;
        font-size: 13px;
    }
    .default-input {
        padding: 7px 10px;
    }
    .footer-form input {
        margin-bottom: 9px;
    }
    .footer-form {
        margin-top: 18px;
    }
}

@media (max-width:428px) {
    .main-menu ul li a {
        padding: 0 5px;
    }
    .main-menu ul li a {
        padding: 0 3px;
        font-size: 12px;
    }
    
    .testimonial-items {
        padding: 0 10px;
    }
    .banner-bottom {
        padding: 50px 0;;
    }
    .service-title {
        padding: 60px 0;
    }
    .service-title h3 {
        font-size: 30px;
        font-weight: 700;
    }
    .service-title p {
        font-size: 20px;
    }
    .pricing-table-section {
        padding: 50px 0;
        margin: auto;
    }
    .s-icon {
        height: 221px;
    }
    .newsletter-section {
        padding: 10px;
    }
    .newsletter-title h5 {
        font-size: 26px;
    }
    .default-input {
        width: 250px;
        padding: 11px 18px;
        margin-bottom: 10px;
    }
    .submit-button {
        font-size: 19px;
        padding: 10px 21px;
    }

}



.main-menu span{
    display: none;
}


@media (max-width:330px) {
    .banner-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }
    .banner-content h3 {
        font-size: 13px;
    }
    .default-btn {
        padding: 12px 7px;
        font-size: 10px;
        margin: 0px 1px;
    }
    .logo {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .logo span {
        margin-top: 9px;
        font-size: 19px;
    }
    .main-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .main-menu span{
        width: 100%;
        font-size: 20px;
        color: blue;
        cursor: pointer;
        display: block;
    }
    .main-menu span {
        font-size: 27px;
        position: absolute;
        top: 68px;
        left: 13px;
        pointer-events: none;
    }
    .header-button {
        position: absolute;
        text-align: right;
        right: 10px;
        top: 55px;
        width: 60%;
    }
    .price-btn .default-btn {
        padding: 8px 20px;
        font-size: 10px;
    }
    .s-icon {
        height: 50px;
    }
    .s-content h3 {
        font-size: 17px;
        line-height: 30px;
    }
    .s-content p {
        font-size: 15px;
        line-height: 23px;
    }
    .pricing-title h4 {
        font-size: 29px;
    }
    .team-title {
        font-size: 25px;
    }
    .address-map {
        width: 100%;
    }
    .contact-form {
        width: 100%;
    }
    .footer {
        font-size: 16px;
    }
    .contact-row {
        margin-bottom: 15px;
    }
    .default-btn {
        padding: 10px 6px;
        font-size: 9px;
        margin: 5px 1px;
    }
    .p-heading h1 {
        margin: 8px 0;
        font-size: 39px;
    }
    .p-heading h1 span {
        font-size: 15px;
    }
    .p-heading h5 {
        font-size: 22px;
    }
    .p-heading p {
        font-size: 15px;
        font-weight: 300;
    }
    .p-content ul li {
        font-size: 15px;
        margin: 20px 0;
    }
    .p-content ul li i {
        font-size: 21px;
        width: 29px;
    }
    .price-btn .default-btn {
        margin-top: 10px;
    }
    .p-content {
        padding: 15px;
    }
    .p-heading h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .p-heading {
        padding: 16px 30px;
    }
    .t-content {
        padding: 20px 15px;
    }
    .t-user-img img {
        margin-right: 10px;
        width: 60px;
    }
    .t-user-img {
        width: 215px;
    }
    .t-user-bio h5 {
        font-size: 14px;
    }
    .t-content p {
        line-height: 1.1em;
    }
    .p-content ul li {
        margin: 7px 0;
    }
    .video-content p {
        font-size: 15px;
        line-height: 18px;
    }
    .video-content h3 {
        line-height: 30px;
        font-size: 29px;
    }

    .main-menu .mobile-menu-check:checked ~ ul{
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    .main-menu ul li {
        display: block;
    }
    .main-menu ul li a {
        text-align: left;
        line-height: 25px;
    }
    .main-menu ul li ul {
        left: 52px;
        top: -103px;
        background-color: rgb(46, 46, 46);
    }
    .main-menu .mobile-menu-check{
        width: 30px;
        height: 30px;
        margin-left: -10px;
        z-index: 8;
        opacity: 0;
        cursor: pointer;
        display: block;
    }
    .header-section {
        position: relative;
        margin-bottom: -30px;
        border-bottom: none;
    }
    .video iframe{
        height: 150px;
    }
}
.main-menu .mobile-menu-check{
    display: none;
}